<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Jhonathan Angus. It uses data from mapbox.com and darksky.net to display the weather details of a given location. It's nothing special and not really meant to be -- just a way for me to get my feet wet with Node.js.</p>
        <img alt="profile" src="/img/robot.jpg" class="portrait" />
    </div>

    {{>footer}}
</body>

</html>
